<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ site.title }} | {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">

    <!-- Bootswatch CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | relative_url }}">

    <!-- Agency bootstrap CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/agency.css" | relative_url }}">

    <!-- Customized CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

    <!-- Font-Awesome CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | relative_url }}">

    <!-- Imported Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <!-- Social og tags -->
    <meta property='og:title' content='RAGE 2022 @ DAC'/>
    <meta property='og:image' content='https://rage2022.github.io/assets/img/social-cover.png'/>
    <meta property='og:description' content='The edge computing paradigm is becoming increasingly popular as it facilitates real-time computation, reduces energy consumption and carbon footprint, and fosters security and privacy preservation by processing the data closer to its origin. Please consider submitting a contribution to RAGE 2022, the Real-time And intelliGent Edge computing workshop (RAGE 2022), which will take place in conjunction with the 59th Design Automation Conference (DAC 2022) '/>
    <meta property='og:url' content='https://rage2022.github.io/'/>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ "/assets/icons/favicon.png" | relative_url }}">
</head>