{% if include.person.organizer_type == "chair" %}
  {% assign person_type = "organizer" %}
{% else %}
  {% assign person_type = "speaker" %}
{% endif %}

<script src="{{ "/assets/js/remoteModal.js" | relative_url }}"></script>
<div class="portfolio-modal modal fade" id="{{ include.person.slug }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ person.name }}</h2>
                        <hr class="star-primary">
                        <img src="{{ person.pic | relative_url }}" class="img-responsive img-centered">
                        <h3>Affiliation:</h3>
                        <p>{{ include.person.affiliation }}</p>
                        {% if include.person.webpage %}
                        <h3>Webpage:</h3>
                        <p><a href="{{ include.person.webpage }}">{{ include.person.webpage }}</a></p>
                        {% endif %}
                        <h3>Bio:</h3>
                        <p>{{ include.person.bio }}</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>