/*!
 * This file contains CSS added to customize the Agency StartBootstrap template
 */

body {
    position: absolute;
    margin: 0;
    min-height: 100%;
    width: 100%;
}

.intro-text {
    text-align: center;
}

.intro-text-wrapper {
    padding: 20px;
    width: 50%; 
    margin: 0 auto; 
    background-color: rgba(0, 0, 0, 0.4);
}

.intro-subtitle {
    font-size: 35px;
    margin-top: 10px;
}

.intro-subtitle a {
    text-decoration: underline;
    color: white;
}

.intro-subtitle a:visited {
    color: white;
}
  
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

footer .col-md-4:last-child {
    text-align: right;
}

#date {
    margin: 0;
}

#caption {
    font-style: normal;
    font-weight: bold;
}

.text-muted {
    margin: 0;
    color: #333;
}

.speakers-name {
    margin-bottom: 10px !important;
}

.speaker-simple-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.speaker-simple-item p {
    margin: 0;
}

@media(max-width:768px) {
    .intro-text-wrapper {
        width: 75%;
    }
    .page-scroll.btn {
        padding: 10px 20px;
    }
    .intro-subtitle {
        font-size: 30px;
    }
}