/*!
 * This file contains CSS added to customize the Agency StartBootstrap template
 */

/*
* INDEX:
*   - 01 - GENERAL
*   - 02 - FOOTER
*   - 03 - HOME
*   - 04 - ORGANIZERS & SPEAKERS
*/

/*
* 01 - GENERAL
*/

body {
    position: absolute;
    margin: 0;
    min-height: 100%;
    width: 100%;
}

@media(min-width:768px) {
    .navbar-brand {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

/*
* 02 - FOOTER
*/

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

footer .col-md-4:last-child {
    text-align: right;
}

/*
* 03 - HOME
*/

.intro-text {
    text-align: center;
}

.intro-text-wrapper {
    padding: 20px;
    width: 50%; 
    margin: 0 auto; 
    background-color: rgba(0, 0, 0, 0.4);
}

.intro-subtitle {
    font-size: 35px;
    margin-top: 10px;
}

.intro-subtitle a {
    text-decoration: underline;
    color: white;
}

.intro-subtitle a:visited {
    color: white;
}
  
#date {
    margin: 0;
}

#caption {
    font-style: normal;
    font-weight: bold;
}

.home-sponsors a {
    margin-top: 20px;
    display: block;
    text-align: center;
}

.home-sponsors a > img {
    margin: 0 auto;
}

.home-sponsors a > img, .home-sponsors a > span {
    display: block;
} 

@media(max-width:768px) {
    .intro-text-wrapper {
        width: 75%;
    }
    .page-scroll.btn {
        padding: 10px 20px;
    }
    .intro-subtitle {
        font-size: 30px;
    }
}

/*
* 04 - ORGANIZERS & SPEAKERS
*/

.text-muted {
    margin: 0;
    color: #333;
}

.speakers-name {
    margin-bottom: 10px !important;
}

.speaker-simple-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.speaker-simple-item p {
    margin: 0;
}

.organizers-secondary .speaker-simple-item {
    text-align: center;
}

.people h2:not(.section-heading) {
    text-align: center;
    margin-bottom: 15px;
}

.speakers-info p {
    margin: 5px;
}

#speakers {
    margin-bottom: 20px;
}